[submodule "submodules"]
	path = submodules
	url = https://github.com/microsoft/azure_arc
	branch = main
[submodule "azure-arc-docs"]
	path = azure-arc-docs
	url = https://github.com/Fractal-IOTFAL/arc_jumpstart_docs
	branch = main
